<nav id="hylar-navbar" class="navbar is-light" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="<%- contextPath %>/">
            <img src="<%- contextPath %>/img/hylar-icon.png">
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a href="<%- contextPath %>/" class="navbar-item">
                Home
            </a>
            <a href="<%- contextPath %>/explore" class="navbar-item">
                Explore KB
            </a>
            <a href="<%- contextPath %>/explore/rules" class="navbar-item">
                Explore Rules
            </a>
            <a href="<%- contextPath %>/sparql" class="navbar-item">
                SPARQL
            </a>
            <a target="_blank" href="https://github.com/ucbl/HyLAR-Reasoner/issues" class="navbar-item">
                Report issues
            </a>
        </div>
    </div>
</nav>