<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head.ejs %>
</head>
<body>
<header>
    <% include ../partials/menu.ejs %>
</header>

<section class="hero is-dark">
    <div class="hero-body">
        <p class="title">
            Knowledge base
        </p>
        <% if (fact) { %>
        <p class="subtitle">
            <%- factName %>
        </p>
        <% } %>
    </div>
</section>

<% if (!fact) { %>
<section class="section">
        <% if (kb.length != 0) { %>
            <article class="message is-info">
                <div class="message-body">
                    The knowledge base currently contains <%- kb.length %> facts (<%- nbExplicit %> explicit, <%- nbImplicit %>  implicit).
                    <p>
                        <i class="fas fa-bolt"></i> <a onclick="areYouSure(this, '<%- contextPath %>/explore/resetKB')">Clear the knowledge base</a>
                    </p>
                </div>
            </article>
        <% } %>
            <article class="message <% if (kb.length == 0) {%>is-warning<% } else if (consistent) { %>is-success<% } else { %>is-danger<% }%>">
                <div class="message-body">
                    <% if (kb.length == 0) {%><i class="fas fa-exclamation-circle"></i> Base is empty<% } else if (consistent) { %><i class="far fa-check-circle"></i> Knowledge base consistent<% } else { %><i class="fas fa-exclamation-triangle"></i> <a href="/explore/%23default/IFALSE"> Inconsistency detected</a><% } %>
                </div>
            </article>
</section>
<% } %>

<section class="section">

        <% if (!fact) { %>
        <table class="table is-fullwidth is-striped is-bordered table-responsive">
            <tr class="is-warning">
                <th>State</th>
                <th>Subject</th>
                <th>Predicate</th>
                <th>Object</th>
                <th>Graph</th>
                <th>Validity</th>
                <th>Details</th>
            </tr>
            <% for (var i = 0; i < kb.length; i++) { %>
            <tr>
                <td>
                    <% if (kb[i].val.explicit) { %>
                        <span class="fact fact-state explicit">Explicit</span>
                    <% } else { %>
                        <span class="fact fact-state implicit">Implicit</span>
                    <% } %>
                </td>
                <% if (kb[i].val.predicate == 'FALSE') { %>
                <td colspan="6" class="fact is-light has-text-centered">
                     False fact
                </td>
                <% } else { %>
                <td>
                    <code><%- kb[i].val.subject %></code>
                </td>
                <td>
                    <code><%- kb[i].val.predicate %></code>
                </td>
                <td>
                    <code><%- kb[i].val.object %></code>
                </td>
                <td>
                    <code><%- kb[i].graph %></code>
                </td>
                <td class="has-text-centered">
                    <% if (kb[i].val.isValid()) { %>
                        <span class="fact fact-valid-true">Valid</span>
                    <% } else { %>
                        <span class="fact fact-valid-false">Invalid</span>
                    <% } %>
                </td>
                <td class="has-text-centered">
                    <a href="<%- contextPath %>/explore/<%- encodeURIComponent(kb[i].graph) %>/<%- encodeURIComponent(kb[i].val) %>">
                        <i class="fas fa-info-circle"></i>
                    </a>
                </td>
                <% } %>
            </tr>
            <% } %>
        </table>

        <nav class="pagination" role="navigation" aria-label="pagination">
            <a class="pagination-previous">Previous</a>
            <a class="pagination-next">Next page</a>
            <ul class="pagination-list">
                <li>
                    <a class="pagination-link" aria-label="Goto page 1">1</a>
                </li>
                <li>
                    <span class="pagination-ellipsis">&hellip;</span>
                </li>
                <li>
                    <a class="pagination-link" aria-label="Goto page 45">45</a>
                </li>
                <li>
                    <a class="pagination-link is-current" aria-label="Page 46" aria-current="page">46</a>
                </li>
                <li>
                    <a class="pagination-link" aria-label="Goto page 47">47</a>
                </li>
                <li>
                    <span class="pagination-ellipsis">&hellip;</span>
                </li>
                <li>
                    <a class="pagination-link" aria-label="Goto page 86">86</a>
                </li>
            </ul>
        </nav>

        <% } else { %>

            <% if (fact.explicit) { %>
                <span class="label label-primary">EXPLICIT</span>
            <% } else { %>
                <span class="label label-info">IMPLICIT</span>
            <% } %>

            <% if (fact.isValid() == true) { %>
                &nbsp;<span class="label label-success">VALID</span>
            <% } else if (fact.isValid() == false) {%>
                &nbsp;<span class="label label-danger">NOT VALID</span>
            <% } %>

            <span class="label label-default"><%- graph %> GRAPH</span>

            <% if (fact.toString() === 'IFALSE') { %><br/><i>Note: IFALSE denotes KB inconsistency.</i><% } %>

            <h3>Equivalent as triple</h3>
            <code><%- factTriple %></code>

            <h3>Truncated version</h3>
            <%- fact.truncatedString() %>

            <!-- Analyzing explicit causes -->
            <% for (var i = 0; i < fact.causedBy.length; i++) { %>
            <h3>Explicitly derived from</h3>
                <% for (var j = 0; j < fact.causedBy[i].length; j++) { %>
                    <a class="fact fact-valid-<%- fact.causedBy[i][j].isValid() %>" href="<%- contextPath %>/explore/<%- encodeURIComponent(fact.causedBy[i][j].toString()) %>"><%- fact.causedBy[i][j].truncatedString() %></a>
                    <% if (!(j+1==fact.causedBy[i].length)) { %> <b>AND</b> <% } %>
                <% } %>
            <% } %>

            <!-- Analyzing consequences -->
            <% if (fact.consequences.length > 0) { %>
                <h3>Derives</h3>
                <ul>
                <% for (var j = 0; j < fact.consequences.length; j++) { %>
                    <li>
                        <a class="fact fact-valid-<%- fact.consequences[j].isValid() %>" href="/explore/<%- encodeURIComponent(fact.consequences[j].toString()) %>"><%- fact.consequences[j].truncatedString() %></a>
                    </li>
                <% } %>
                </ul>
            <% } %>

        <% } %>
</section>
</body>