<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head.ejs %>
</head>
<body>
    <header>
        <% include ../partials/menu.ejs %>
    </header>
    <section class="hero is-dark">
        <div class="hero-body">
            <p class="title">
                HyLAR
            </p>
            <p class="subtitle">
                Hybrid Location-Agnostic Reasoner
            </p>
        </div>
    </section>
    <section class="section">
        <div class="container is-fluid has-text-centered">
            <img width="50px" height="50px" src="<%- contextPath %>/img/hylar-icon.png">
            <i class="fas fa-database" style="font-size: 50px"></i>
            <div class="last-log">
                <%- kb.length %> facts (<%- kb.filter(fact => { return fact.explicit }).length %> explicit, <%- kb.filter(fact => { return !fact.explicit }).length %>  implicit)
                with <b><%- entailment %></b> reasoning
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container is-fluid">
            <p class="title has-text-centered">Upload</p>
            <div class="file is-boxed">
                <label class="file-label">
                    <input id="file-upload" class="file-input" type="file" name="resume" onchange="fileUpload(this, '<%- contextPath %>')">
                    <span class="file-cta">
                    <span class="file-icon">
                        <i class="fas fa-upload"></i>
                    </span>
                    <span class="file-label">
                        Load turtle, N3 or JSON-LD serialized graph
                    </span>
                </span>
                </label>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container is-fluid">
            <table class="table is-striped">
                <tr class="is-warning">
                    <th>File</th>
                    <th>Compute closure (overwrite)</th>
                    <th>Compute closure (keep old values)</th>
                    <th>Delete file</th>
                </tr>
                <% for (var i = 0; i < ontologies.length; i++) { %>
                <tr>
                    <td>
                        <a href="<%- contextPath %>/ontology/<%- ontologies[i] %>"><%- ontologies[i] %></a>
                    </td>
                    <td class="is-centered">
                        <a target="_self" href="<%- contextPath %>/classify/<%- ontologies[i] %>" class="menuitem">
                            <i class="fas fa-cog"></i>
                        </a>
                    </td>
                    <td class="is-centered">
                        <a target="_self" href="<%- contextPath %>/classify/<%- ontologies[i] %>?keepoldvalues=true">
                            <i class="fas fa-cogs"></i>
                        </a>
                    </td>
                    <td class="is-centered">
                        <a target="_self" href="<%- contextPath %>/remove/<%- ontologies[i] %>">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </td>
                </tr>
                <% } %>
            </table>
        </div>
    </section>
</body>
</html>