<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head.ejs %>
</head>
<body>
<header>
    <% include ../partials/menu.ejs %>
</header>
    <div class="container">

        <h3>Statistics</h3>
        The knowledge base currently contains <%- kb.length %> facts (<%- nbExplicit %> explicit, <%- nbImplicit %>  implicit).<br/>
        The KB is currently <% if (consistent) { %>consistent.<% } else { %><a href="/explore/IFALSE">inconsistent</a>.<% } %>

        <h3>Upload an ontology (RDF/XML, Turtle, N3 or JSON-LD)</h3>
        <form target="_self" enctype="multipart/form-data" method="post" action="/ontology">
            <input type="file" name="file"/>
            <input type=submit value="Upload"/>
        </form>

        <h3>Available ontologies</h3>

        <table class="table table-bordered">
            <tr>
                <th>Ontology filename</th>
                <th>Classify (overwrite)</th>
                <th>Classify (keep old values)</th>
                <th>Delete file</th>
            </tr>
            <% for (var i = 0; i < ontologies.length; i++) { %>
            <tr>
                <td>
                <a href="/ontology/<%- ontologies[i] %>"><%- ontologies[i] %></a>
                </td>
                <td>
                    <a target="_blank" href="/classify/<%- ontologies[i] %>" class="menuitem">
                        <span about="Clear and load <%- ontologies[i] %>" class="glyphicon glyphicon-open"></span>
                    </a>
                </td>
                <td>
                    <a target="_blank" href="/classify/<%- ontologies[i] %>?keepoldvalues=true">
                        <span about="Load <%- ontologies[i] %> without clearing data " class="glyphicon glyphicon-plus"></span>
                    </a>
                </td>
                <td>
                    <a target="_self" href="/remove/<%- ontologies[i] %>">
                        <span about="Remove <%- ontologies[i] %>" class="glyphicon glyphicon-remove"></span>
                    </a>
                </td>
                <% } %>
            </tr>
        </table>

    </div>
</body>
</html>