<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head.ejs %>
</head>
<body>
<header>
    <% include ../partials/menu.ejs %>
    <%
        function putSparql(query) {
            sparqlQuery = query;
        }
    %>
</header>
<div class="container">
    <h3>SPARQL endpoint</h3>
    <form method="post" action="">
        <small>Powered by <a href="https://www.npmjs.com/package/rdfstore">rdfstore.js</a></small>
        <textarea name="query" style="font-family: 'Courier New'; font-size: 16px;" class="form-control" rows="10"><%- sparqlQuery %></textarea>
        <input type=submit value="Submit query"/>
    </form>

    <h3>Results</h3>
    <table class="table table-bordered sparqlresults-table">
        <tr>
        <% for (var variable in prevResults[0]) { %>
            <th><%= variable %></th>
        <% } %>
        </tr>
        <% for (var i = 0; i < prevResults.length; i++) { %>
        <tr>
            <% for (var key in prevResults[i]) { %>
            <td><small class="sparqlresults"><%- prevResults[i][key].value %></small></td>
            <% } %>
        </tr>
        <% } %>
    </table>

    <h3>Query history</h3>
    <table class="table table-bordered">
        <tr>
            <th>SPARQL query</th>
            <th>Status</th>
        </tr>
        <% for (var i = (history.length-1); i > -1; i--) { %>
        <tr class="queryhistory">
            <td><%= history[i].query %></td>
            <td class="sparqlstatus" onclick="putSparql(<% history[i].query %>)">
                <% if(history[i].noError) { %>
                    <span class="noerror glyphicon glyphicon-ok"> Passed</span>
                <% } else { %>
                    <span class="error glyphicon glyphicon-remove-circle"> Errored</span>
                <% } %>
            </td>
        </tr>
        <% } %>
    </table>

</div>
    <div style="padding-top: 10px; font-weight: bold; color:indianred;"><%- error %></div>
</div>
</body>
</html>